@model iCare.Models.ViewModels.AppointmentWithSymptomListViewModel


@{
    ViewData["Title"] = "Create";
}

<h1>View</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentSymptom.appointment.DoctorName" class="control-label"></label>
                <input asp-for="AppointmentSymptom.appointment.DoctorName" class="form-control" />
                <span asp-validation-for="AppointmentSymptom.appointment.DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentSymptom.appointment.Address" class="control-label"></label>
                <input asp-for="AppointmentSymptom.appointment.Address" class="form-control" />
                <span asp-validation-for="AppointmentSymptom.appointment.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentSymptom.appointment.Phone" class="control-label"></label>
                <input asp-for="AppointmentSymptom.appointment.Phone" class="form-control" />
                <span asp-validation-for="AppointmentSymptom.appointment.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentSymptom.appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentSymptom.appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentSymptom.appointment.AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedSymptomIds" class="control-label "></label>
                <select multiple asp-for="SelectedSymptomIds" class="form-control"
                        asp-items="@Model.SymptomOptions"></select>
                <span asp-validation-for="SelectedSymptomIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentSymptom.appointment.DoctorsInstructions" class="control-label"></label>
                <input asp-for="AppointmentSymptom.appointment.DoctorsInstructions" class="form-control" />
                <span asp-validation-for="AppointmentSymptom.appointment.DoctorsInstructions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AppointmentSymptom.appointment.Visited" /> @Html.DisplayNameFor(model => model.AppointmentSymptom.appointment.Visited)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
