@*@model iCare.Models.Appointment*@

@model iCare.Models.ViewModels.AppointmentWithSymptomListViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment.AppointmentID" />
            <div class="form-group">
                <label asp-for="Appointment.DoctorName" class="control-label"></label>
                <input asp-for="Appointment.DoctorName" class="form-control" />
                <span asp-validation-for="Appointment.DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Address" class="control-label"></label>
                <input asp-for="Appointment.Address" class="form-control" />
                <span asp-validation-for="Appointment.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.Phone" class="control-label"></label>
                <input asp-for="Appointment.Phone" class="form-control" />
                <span asp-validation-for="Appointment.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appointment.AppointmentDate" class="control-label"></label>
                <input asp-for="Appointment.AppointmentDate" class="form-control" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Appointment.DoctorsInstructions" class="control-label"></label>
                <input asp-for="Appointment.DoctorsInstructions" class="form-control" />
                <span asp-validation-for="Appointment.DoctorsInstructions" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Appointment.Visited" /> @Html.DisplayNameFor(model => model.Appointment.Visited)
                </label>
            </div>
            <div class="form-group">
                    <label asp-for="SelectedSymptomIds" class="control-label "></label>
                    <select multiple asp-for="SelectedSymptomIds" class="form-control"
                            asp-items="@Model.SymptomOptions"></select>
                    <span asp-validation-for="SelectedSymptomIds" class="text-danger"></span>
                </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
